---
layout: secondary
---
<div>
	<div id="title">
		<h1>{{ page.title }}</h1>
		<span class="meta">{{ page.date | date: "%Y %b %d"}}</span>
		<p></p>
	</div>

	<div id="content">
		{{ content }}
	</div>

	<div id="tags">
		Tagged:
		{% for tag in page.tags %}
		<a href="/blog/tag/{{tag}}">{{tag}}</a> &nbsp;
		{% endfor %}
	</div>

	<hr />

	<!-- the tweet button -->
	<p>
	<a href="https://twitter.com/share"  class="twitter-share-button"
		data-url="http://mfukar.github.io{{page.url}}">Tweet</a>
	</p>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<!-- end of tweet button -->

	<h3>Comments:</h3>

	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'mfukarsramblings';
		var disqus_identifier = '{{ page.id }}';
		var disqus_url = 'http://mfukar.github.io{{ page.url }}';
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
	</script>
	<noscript>
		To view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus</a> you will need to enable Javascript.
	</noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
