---
layout: secondary
---
<div>
	<div id="title">
		<h1>{{ page.title }}</h1>
		<span class="meta">{{ page.date | date: "%Y %b %d"}}</span>
		<p></p>
	</div>

	<div id="content" style="float: none; border-right: none; display: block;">
		{{ content }}

		{% if page.previous != nil %}
		<a href="{{page.previous.url}}" style="float: left; padding: 10px 0px; text-decoration: none;">« Past</a>
		{% endif %}
		{% if page.next != nil %}
		<a href="{{page.next.url}}" style="float: right; padding: 10px 0px; text-decoration: none;">Future »</a>
		{% endif %}
	</div>

{% assign post = page %}
{% if post.tags.size > 0 %}
{% capture tags_content %}Tagged {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
	{% for post_tag in post.tags %}
		{% assign tag = site.data.tags[post_tag] %}
		{% if tag %}
		{% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
		{% assign tags_content = tags_content_temp %}
		{% endif %}
	{% endfor %}
{% else %}
{% assign tags_content = '' %}
{% endif %}

	<div id="tags" style="margin: 50px 0px">
		<p id="post-meta">{{ tags_content }}</p>
	</div>
</div>
